.branded-page-v2-top-row {
	/*margin-bottom: 10px;*/
}
.channel-header.yt-card {
	margin-bottom: 0;
}
.branded-page-v2-header {
	margin: -10px 0 0;
	position: relative;
}
.yt-card {
	background: #f4f4f4 none repeat scroll 0 0;
	border: 0 none;
	/*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);*/
	box-sizing: border-box;
	margin: 0 0 10px;
}
#c4-header-bg-container.has-custom-banner {
	background-color: transparent;
	background-size: cover;
}
/*#c4-header-bg-container {
	background-image: url("/images/default-cover-image.jpg");
}*/
#c4-header-bg-container {
	background-color: #333;
	background-position: center center;
	border-bottom: 1px solid #e2e2e2;
	height: 250px;
	position: relative;
}
.channel-header #header-links {
	bottom: 0;
	cursor: auto;
	/*font-size: 0;*/
	padding: 0;
	position: absolute;
	right: 3px;
}
.channel-header .about-secondary-links {
	margin-left: 2px;
}
.channel-header .about-secondary-links, .channel-header .about-custom-links {
	background-color: rgba(102, 102, 102, 0.5);
	float: right;
	padding: 10px;
}
/*table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
	background: transparent none repeat scroll 0 0;
	border: 0 none;
	font-size: 100%;
	margin: 0;
	padding: 0;
}
menu, ol, ul {
	list-style: outside none none;
}*/
.channel-header .about-secondary-links .channel-links-item:first-child {
	margin-left: 0;
}
.channel-header .about-secondary-links .channel-links-item {
	display: inline;
	margin-left: 5px;
}
a {
	color: #167ac6;
	cursor: pointer;
	text-decoration: none;
}
.about-channel-link-text, .about-channel-link-favicon, .about-custom-links .about-channel-link-icon {
	vertical-align: middle;
}
.clearfix::before {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.clearfix::after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.primary-header-upper-section-wrapper {
	box-sizing: border-box;
	display: table;
	padding: 0 15px;
	width: 100%;
}
.primary-header-upper-section {
	display: table-row;
}
.primary-header-upper-section-block {
	display: table-cell;
	vertical-align: top;
}
.channel-header .branded-page-header-title {
	display: inline-block;
	float: left;
	max-width: 100%;
	padding-right: 20px;
}
.branded-page-header-title {
	font-size: 15px;
	line-height: 24px;
}
.qualified-channel-title.ellipsized {
	display: inline-block;
	white-space: nowrap;
	width: 100%;
}
.qualified-channel-title.ellipsized .qualified-channel-title-wrapper {
	display: inline-block;
	max-width: 100%;
}
.qualified-channel-title.ellipsized .qualified-channel-title-badge {
	display: inline-block;
	left: -15px;
	position: relative;
	vertical-align: top;
}
.qualified-channel-title-badge {
	margin-left: 5px;
}
.qualified-channel-title.ellipsized.has-badge .qualified-channel-title-text {
	margin-right: 15px;
}
.qualified-channel-title.ellipsized .qualified-channel-title-text {
	display: block;
	overflow: hidden;
	overflow-wrap: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.branded-page-base-bold-titles .channel-header .branded-page-header-title .branded-page-header-title-link, .branded-page-base-bold-titles .branded-page-module-title {
	font-weight: 500;
}
.channel-header .branded-page-header-title .branded-page-header-title-link {
	color: #333;
	font-size: 20px;
	font-weight: normal;
	text-shadow: none;
}
.yt-channel-title-icon-verified {
	background: rgba(0, 0, 0, 0) url("//s.ytimg.com/yts/imgbin/www-hitchhiker-vfl-Nn88d.png") no-repeat scroll 0 0;
	height: 9px;
	width: 12px;
}
.yt-channel-title-autogenerated, .yt-channel-title-icon-verified {
	display: inline-block;
	margin-bottom: 2px;
	vertical-align: middle;
}
.branded-page-v2-top-row #channel-subheader {
	border-bottom: medium none;
}
#channel-subheader {
	border-bottom: 1px solid #ccc;
	position: relative;
}
.branded-page-gutter-padding {
	padding-left: 15px;
	padding-right: 15px;
}
#channel-subheader ul {
	float: left;
}
#channel-subheader li {
	float: left;
	margin-left: 20px;
}
#channel-subheader li:first-child {
	margin-left: 0;
}
.epic-nav-item-heading {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	border-radius: 0;
	box-sizing: content-box;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	padding: 0 3px 3px;
	vertical-align: bottom;
	margin: 0;
}
a.yt-uix-button-epic-nav-item.selected, a.yt-uix-button-epic-nav-item.yt-uix-button-toggled, button.yt-uix-button-epic-nav-item.selected, button.yt-uix-button-epic-nav-item.yt-uix-button-toggled, .epic-nav-item.selected, .epic-nav-item.yt-uix-button-toggled, .epic-nav-item-heading {
	color: #333;
	font-weight: 500;
}
a.yt-uix-button::after {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
a.yt-uix-button.yt-uix-button-epic-nav-item, button.yt-uix-button-epic-nav-item, .epic-nav-item {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	border-radius: 0;
	box-sizing: content-box;
	color: #666;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: normal;
	height: 29px;
	line-height: 29px;
	padding: 0 3px 3px;
	vertical-align: bottom;
}
a.yt-uix-button {
	box-sizing: border-box;
	text-decoration: none;
}
.yt-uix-button {
	border: 1px solid transparent;
	border-radius: 2px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	font-weight: 500;
	height: 28px;
	line-height: normal;
	outline: 0 none;
	overflow-wrap: normal;
	padding: 0 10px;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
}
.sugg-description .lohp-video-metadata-item {
	display: inline-block;
	float: right;
}
#channel-subheader .active > a {
	border:0;
	border-bottom: 3px solid #666;
	display: inline-block;
	height: 29px;
	line-height: 29px;
	padding-bottom: 0;
	margin: 0;
	color: #666;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 13px;
	/*font-weight: bold;*/
}
#channel-subheader .clearfix.nav.nav-tabs {
	border-bottom: medium none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	background-color: #fff;
	border: 1px solid transparent;
	color: #555;
	cursor: default;
}
/*.y-home.menu1 .active {
	background-color: #cc181e;
	color: white;
}*/
a:focus {
	outline: none;
	outline-offset: -2px;
}
.nav > li > a:focus, .nav > li > a:hover {
	background-color: transparent;
	text-decoration: none;
}
.active {
	background-color: inherit;
	color: white;
}
.feed-item-main {
	color: #555;
	font-size: 12px;
}
.branded-page-module-title {
	color: #333;
	font-size: 15px;
	font-weight: 500;
	line-height: 1.3em;
	overflow: hidden;
	overflow-wrap: normal;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
}
.feed-item-main-content {
	max-width: 100%;
}
.feed-item-main {
	color: #555;
	font-size: 12px;
}
.feed-item-main.feed-item-no-author {
	margin-left: 0;
}
.feed-item-main.feed-item-no-author {
	padding-bottom: 0;
}
.branded-page-module-title-text {
	display: inline;
	margin-top: 1px;
	vertical-align: middle;
}
.feed-item-dismissable {
	/*background-color: #fff;*/
}
.active a {
	/*color: #167ac6;*/
}
.lohp-video-link {
	color: #167ac6;
	display: block;
	font-size: 13px;
	font-weight: 500;
	line-height: 1.3em;
	overflow: hidden;
}
.video-head a {
	color: #333;

	font-size: 1.2em;

	/*font-family: arial;*/

}
.video-time {
	background-color: #000;
	color: #fff;
	display: inline-block;
	font-size: 11px;
	font-weight: 500;
	height: 14px;
	line-height: 14px;
	margin-right: 0;
	margin-top: 0;
	opacity: 0.75;
	padding: 0 4px;
	vertical-align: top;
}
.video-time, .video-time-overlay {
	bottom: 2px;
	position: absolute;
	right: 2px;
}
.lohp-video-link {
	margin-top: 6px;
}
.lohp-video-metadata {
	color: #767676;
	font-size: 11px;
	line-height: 1.3em;
	margin-top: 3px;
}
.lohp-video-metadata .content-uploader {
	margin-right: 5px;
}
.lohp-video-metadata-item {
	display: inline-block;
}
.lohp-video-metadata .yt-user-name {
	color: #767676;
}
.lohp-video-metadata .view-count {
	color: #555;
	margin-right: 5px;
}
.lohp-video-metadata-item {
	display: inline-block;
}
.lohp-video-metadata-item {
	display: inline-block;
}
.lohp-video-metadata .view-count {
	float: none;
}
.lohp-medium-shelf {
	height: 78px;
}
.yt-thumb-clip > img {
	width: 100%;
}
.slide-box.recom-box.big-box-slide {
    float: none;
    width: 100%;
	padding: 2px;
	max-height: 100% !important;
}
.slide-box.recom-box.big-box-slide .slide-image.recom-image.hbb {
    height: 330px !important;
    max-height: 100%;
}
.slide-box.recom-box.big-box-slide.vdo-pg-bx .slide-image.recom-image.hbb {
    height: 482px !important;
    max-height: 100%;
}
/*.y-content .page-inner {
	margin-top: 58px;
}*/
.big-section-main {
	/*padding: 0 15px;*/
}
.abt-sec-head h5 {
	color: #333;
	font-weight: 500;
	line-height: 17px;
	padding-top:30px;
	margin: 0;
}


@media screen and (-webkit-min-device-pixel-ratio: 1.5),  screen and (min-resolution: 1.5dppx) {
/*#c4-header-bg-container {
	background-image: url("/images/default-cover-image.jpg");
}*/
}
/*#c4-header-bg-container .hd-banner-image {
	background-image: url("/images/default-cover-image.jpg");
}*/
.des-box {
    display: inline-block;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}
.abt-sec-head.description-create .des-box textarea {
    width: 100% !important;
}
.abt-sec-head.description-create {
    padding: 10px 20px;
}
.abt-sec-head.description-create h5 {
    padding: 0;
    margin-top: 15px;
}
.btn-create {
    float: right;
	margin-top:20px;
}
.btn.create-btn-btn{
    background-color: #126db3;
    border-color: transparent;
    border-radius: 3px !important;
    color: #fff;
    display: inline-block;
    margin-left: 0px;
    margin-top: 3px;
    padding: 4px 15px;
}
.btn.create-btn-btn:hover, .btn.create-btn-btn:active, .btn.btn-primary.create-btn-btn:focus{
    background-color: #155586;
    color: #fff;
    text-decoration: none;
}

.channel-header-profile-image {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
}
.slide-box.recom-box.big-box-slide.sq-bx {
    float: left;
    margin-bottom: 20px;
    height: 150px;
    width:150px;
	padding: 2px;
}

.create-video-input {
    margin: 0.5%;
    padding-top: 20px;
    width: 100%;
}
.create-video-input .input-group{
	width: 100%;
	margin-bottom: 20px;
}
.btn.btn-default.dropdown-toggle.crt-vdo-btn-gp {
    border-radius: 0;
}
.create-video-input .input-group input {
    border-radius: 0;
}
.input-group.crt-vdo-des-grp .form-control.description {
    width: 100% !important;
}
.input-group.crt-vdo-des-grp {
    width: 100%;
}

.btn-createvideo .btn.btn.create-btn-btn {
    border-radius: 0;
    width: 70%;
	color: transparent;
}
.btn-create-w-vd {
    text-align: center;
	margin-bottom: 30px;
}
.btn-create-w-vd .btn.btn-primary.create-btn-btn {
    margin-right: 20px;
}

.btn-create-w-vd .btn.create-btn-btn {
    margin: 0 10px;
}
.vdo-img{
	background-position: center center;
    background-size: cover;
    height: 100%;
}

.slide-box.recom-box.big-box-slide.sq-bx .slide-image.recom-image.hbb {
    height: 150px !important;
}
.slide-image.recom-image.hbb{
	height: auto !important;
}
.side-box-vd .slide-image.recom-image.hbb:hover, .side-box-vd.active .slide-image.recom-image.hbb, .side-box-vd .slide-image.recom-image.hbb:active  {
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.25);
}


/*Media Queries start*/

@media screen and (max-width: 996px){
	.lohp-medium-shelves-container.col-md-6{
		/*margin: 0;
		padding: 0;*/
	}
	.slide-box.recom-box.big-box-slide.sq-bx {
    float: none;
    height: 150px;
    margin-bottom: 20px;
    width: 100%;
}
	.btn-createvideo {
    padding: 0 20px !important;
		width: 70%;
}
}





@media only screen and (max-width: 640px) {

.lohp-medium-shelves-container .col-md-12 {
    margin: 0;
    padding: 0;
}

.btn-createvideo .btn.btn.create-btn-btn {
    border-radius: 0;
    width: 100%;
}
.btn-create-w-vd {
}
	.slide-box.recom-box.big-box-slide.sq-bx {
    float: none;
    height: 150px;
    margin-bottom: 20px;
    padding: 0 10px;
    width: 100%;
}
	.btn-createvideo {
    padding: 0 10px !important;
		width: 50%;
}
}

.st_button {
	background: #2E93E0 none repeat scroll 0 0;
	border: medium none;
	border-radius: 0;
	box-sizing: content-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: normal;
	height: 29px;
	line-height: 29px;
	vertical-align: bottom;
}


.st_profile_btn {
	background: #cccccc none repeat scroll 0 0;
	border: medium none;
	border-radius: 0;
	box-sizing: content-box;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: normal;
	height: 29px;
	line-height: 29px;
	vertical-align: bottom;
}


.upload_a a {
	text-decoration: none !important;
	color: #626567 !important;
	text-transform: uppercase;
	/*font-weight: bold;*/
}

.st_photo_div {
	position: relative;
	width: 100px;
	cursor: pointer;
	margin-left: 5px;
}
.st_photo {
	position: absolute;
	bottom: 0;
	right: 0;
	display: none;
}
.st_photo_div:hover .st_photo{
	display: block;
}
.st_cover_photo_img {
	width: 100%;
	height: 250px;
	position: absolute;
}
.st_channel_heading {
	color: #333;
	font-size:1.5em;
	/*font-weight: bold;*/
	text-shadow: none;
	padding: 10px;
}
.subscriber-count{
	color:#626567;
	margin:0 0 10px 10px;
}

.subscribe_btn {
	border-color: #e62117 !important;
	background: #e62117 !important;
	border-radius: 4px;
	/*box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1);*/
	
}

.subscribe_btn a {
	color: #fff !important;
}


.payment_class a{
	color: #333;
	text-decoration: none;
	font-weight: bold;
	font-size: 1em;
	/*font-family: arial;*/
}
